/* general stuff */

    body {
	background-color: #ffffff;
	background-repeat: no-repeat;
	margin: 30px;
	color: #000000;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12pt;
    }

    ul {
	list-style: disc;
    }

/* page overview */

    div.header {
	text-align: center;
	margin-top: 10px;
    }

    div.footer {
	font-size: smaller;
	text-align: right;
    }

    div.description {
	margin-top: 10px;
    }

    div.menu {
	background-color: #eeeeee;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
    }

/* sections */

    div.section {
	border: solid #000000;
	border-width: 2px;
	padding: 5px;
	margin-top: 10px;
    }

/* changelog entries */

    li.logitem {
	padding-bottom: 10px;
    }
    ul.logfiles {
	list-style: none;
    }
    li.logfile {
	font-size: smaller;
    }

    div.logmessage {
	background-color: #eeeeee;
	padding: 5px;
	margin-right: 10px;
	white-space: pre;
    }

/* release entries */
    div.release {
	margin-top: 10px;
    }
    div.releasemessage {
	padding-left: 10px;
    }
